body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    font-family: Arial, sans-serif;
    color: #333;
}

h3 {
    color: #fff;
    text-align: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: none;
}

.card-body {
    text-align: center;
}

input.cityInput {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input.cityInput:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-group-text {
    background-color: #ff7e5f;
    color: #fff;
    cursor: pointer;
}

.input-group-text:hover {
    background-color: #ff6a45;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.city {
    color: #ff7e5f;
    font-weight: bold;
}

.temp, .hum {
    font-size: 1.5rem;
    font-weight: bold;
}

.vh-100 {
    height: 100vh;
}
